*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
color: #fff;
font-family: gilroy;
}
html,body
{
width: 100%;
height: 100%;
}
#main{
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#left{
  width: 22%;
  height: 100%;
  background-color:  rgb(49, 48, 48);
  padding-top: 40px;
}
#folder{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  /* background-color: crimson; */
}
#folder h1{
  font-size: 30px;
  font-family: gilroy;
  font-weight: 800;
}
#ficon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: yellow; */
}
#ficon i{
  cursor: pointer;
  font-size: 20px;
}
#files{
  width: 100%;
  padding: 20px 30px;
}
.file{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin-top:15px ;
  padding: 3px 8px;
}
#ficons i{
  margin-left: 10px;
  font-size: 15px;
  display: none;
}
.file:hover{
  background-color: rgb(71, 70, 70);
}
.file:hover #ficons i{
  display: initial;
}
#right{
  width: 78%;
  background-color: #000;
  height: 100%;
}
a{
  text-decoration: none;
}
#right nav{
  width: 100%;
  background-color: rgb(66, 64, 64);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0px 50px; */
}
#tab{
  width: 200px;
  height: 100%;
  background-color:#181818;
  position: relative;
  font-size: 25px;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
  /* font-weight: 100; */
}
#tab h6{
  font-weight: 300;
}
#btn{
  position: absolute;
  right: 10px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 30px;
  padding: 6px 13px;
  background-color: red;
  border-radius: 50px;
  cursor: pointer;
}
#btn h4{
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
#textarea{
  width: 100%;
  height: calc(90vh - 40px);
  background-color: #000;
  color: #fff;
  border: none;
}
#overlay{
  width: 100%;
  height: 100%;
  background-color: #ffffff1c;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0%;
  z-index: 10;
  display: none;
}
#overlay form{
  width: 300px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  background-color: #000000;
  border-radius: 20px;
}
#rename{
  height: 30px;
}
#btn-over{
  font-size: 20px;
  padding: 5px 10px;
  background-color: royalblue;
  border-radius: 20px;
  border: none;
}
